{:deps {clj-http/clj-http {:mvn/version "3.10.2"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.1"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.674"}
        hikari-cp/hikari-cp {:mvn/version "2.13.0"}
        integrant/integrant {:mvn/version "0.8.0"}
        metosin/malli {:mvn/version "0.6.2"}
        org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.postgresql/postgresql {:mvn/version "42.2.16"}
        org.clojure/java.jdbc {:mvn/version "0.7.11"}
        vlaaad/reveal {:mvn/version "1.3.258"}}

 :aliases {:dev {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}
                              reply/reply {:mvn/version "0.4.4"}
                              cider/cider-nrepl {:mvn/version "0.26.0"}}
                 :main-opts ["-m" "nrepl.cmdline"
                             "--port" "7070"
                             "--middleware" "[vlaaad.reveal.nrepl/middleware,cider.nrepl/cider-middleware]"]}}}
